<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="userStyle/assets/ico/favicon.ico">
    <title>Bootstrappage.com free templates</title>

    <!-- Bootstrap core CSS -->
    <link href="userStyle/dist/css/bootstrap.min.css" rel="stylesheet">

    
    <link href="userStyle/assets/css/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->

<body style="margin-top: 100px">
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">Foodie Restaurant</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">Home</a></li>

                            <li><a href="about.html"> indian</a></li>
                            <li><a href="contact.html">chinese</a></li>
                            <li><a href="contact.html">arabian</a></li>






                            <li><a href="/login" style="margin-left: 550px;">Login</a></li>


                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>






    <h3 style="padding-left: 30px; padding-top: 20px;">select category</h3>


    <form action="/arabian" method="post">
        <button type="submit" class="btn btn-light" name="category" value="arabian"
            style="margin-left: 30px; margin-top: 10px;">arabian</button>
    </form>
    <form action="/chinese" method="post">
        <button type="submit" class="btn btn-light" name="category" value="chinese"
            style="margin-left: 30px; margin-top: 10px">chinese</button>
    </form>
    <form action="/indian" method="post">
        <button type="submit" class="btn btn-light" name="category" value="indian"
            style="margin-left: 30px; margin-top: 10px">indian</button>
    </form>




    <div class="container marketing">
        <h2 class="itemsTitle">Inspiration for your first order</h2>
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        {{#each food}}
                        <div class="col-lg-3">
                            <img src="../food-images/{{this.img1}}" alt="Generic placeholder image">
                            <h4>{{this.name}}</h4>
                            <h4>₹{{this.price}}</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                        {{/each}}


                        

                    </div><!-- /.row -->

                </div>

                
            </div>
            <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><span
                    class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel1" data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- /.carousel -->
    </div>



















    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="userStyle/dist/js/bootstrap.min.js"></script>
    <script src="userStyle/assets/js/holder.js"></script>
</body>

</html>